<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320277478156-rmm4ginkjp6gd4vlpvs87agqshmgpsj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320277478156-rmm4ginkjp6gd4vlpvs87agqshmgpsj4</string>
	<key>API_KEY</key>
	<string>AIzaSyBF4E4DVuJtpFkdk4GI8EGObE-AJ_cDhLU</string>
	<key>GCM_SENDER_ID</key>
	<string>320277478156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nathandegoey.yRUN</string>
	<key>PROJECT_ID</key>
	<string>yrun-ad58f</string>
	<key>STORAGE_BUCKET</key>
	<string>yrun-ad58f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320277478156:ios:f2c2adeae4779cb8e72729</string>
	<key>DATABASE_URL</key>
	<string>https://yrun-ad58f.firebaseio.com</string>
</dict>
</plist>